/*! HTML5 Boilerplate v5.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
	color: #222;
	font-size: 10pt;
	line-height: 1.2;
	height: 100%;
}

body {
	font-family: brandon-grotesque, arial, sans-serif;
	background-color: #eeeeee;
	color: #222;
	font-size: 10pt;
	line-height: 1.2;
	height: 100%;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio, canvas, iframe, img, svg, video {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.

textarea {
	resize: vertical;
}
*/

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
h1, h2, h3, h4, h5, h6 {
/*font-family: "proxima-nova-soft", "arial", sans-serif;*/
}

input[type="reset"],input[type="button"], input[type="submit"] 
{
	border-radius: 8px;
	background-color: #475175;
	color: #ffffff;
	border: none;
	padding: 2px 10px;
	margin-top: 1pt;
	margin-bottom: 2pt;
}

input[type="text"], input[type="password"], select { margin-bottom: 2pt; } 

input[type="reset"]:disabled,input[type="button"]:disabled, input[type="submit"]:disabled 
{
	background-color: #a0a0a0;
	color: #efefef;
}

 

/* Framework */
#main {
	height: 100%;
	display: table-row;
}

/* Menu */
#menu {
	min-width: 220px;
	background: url("../img/bg-emblem.png") right bottom no-repeat #1a2553;
	color: #ffffff;
	min-height: 100%;
	display: table-cell;
	vertical-align: top;
}

#menu a {
	color: #ffffff;
	text-decoration: none;
	display: block;
	padding: 5px 5px;
	border-top: 1px solid #475175;
}

#menu li.menuselected a {
	color: #faeda1;
	/* font-weight: bold;*/
}

#menu a:hover {
	background-color: #303b65;
	border-top: 1px solid #1a2553;
}

#clientlogo {
	height: 95px;
	text-align: center;
	vertical-align: middle;
	line-height: 95px;
}

#clientlogoImg {
	max-width: 220px;
	max-height: 90px;
}

#merchant-name {
	/* height: 3.0em; */
	text-align: center;
	vertical-align: middle;
	background-color: #303b65;
	/*font-family: "proxima-nova-soft", "arial", sans-serif;*/
	font-weight: strong;
	padding: 5px;
}

#menu-content img {
	width: 2.4em;
	height: 2.4em;
	padding-right: 0.3em;
	float: left;
}

#menu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#menu ul li {
	/*font-family: "proxima-nova-soft", "arial", sans-serif;*/
	
}

#menu-main-items li {
	background-color: #475175;
	font-size: 1.2em;
	line-height: 2.2em;
}

#menu-secondary-items {
	margin-top: 10px !important;
}

#menu-secondary-items li {
	padding-left: 5px;
}

#menu-secondary-items a {
	color: #ffffff;
	text-decoration: none;
	display: block;
	border-top: 1px solid #1a2553;
}

#menu-secondary-items a:hover {
	background-color: #303b65;
	border-top: 1px solid #475175;
}

.menu-submenu a {
	padding: 5px 40px !important;
}

#menu-last-items {
	margin-top: 20px !important;
	margin-bottom: 200px !important;
}

#menu-first-items {
	
}

#menu-last-items, #menu-first-items li {
	font-size: 0.8em;
	width: 50%;
	float: left;
	text-align: center;
	background-color: #475175;
}

#menu-home-items li {
	font-size: 0.9em;
	width: 100%;
	float: left;
	text-align: center;
	background-color: #475175;
	border-top: 1px solid #1a2553;
	border-bottom: 1px solid #1a2553;
}

#menu-last-items a {
	border-right: 1px solid #1a2553;
}

/* Content */
#content {
	width: 100%;
	min-height: 100%;
	display: table-cell;
	vertical-align: top;
}

#content-header {
	/*height: 95px;*/
    overflow: hidden;
}

#content-header-center {
	float: left;
	text-align: center;
	margin-top: 2px;
	width: 80%;
}

#content-header-right {
	text-align: right;
	width: 195px;
	float: right;
}

#content-header h1 {
	display: block;
	height: 100px;
	float: right;
	font-size: 0.8em;
	line-height: 110px;
	margin-right: 25px;
}

#content-header img {
	float: right;
	height: 40px; /** needed for ie */
	text-align: center;
	margin-top: 15px;
	vertical-align: middle;
	/* line-height: 100px; */
	width: 150px;
}

#content-main {
	background-color: #ffffff;
	box-shadow: 0 0 7px #7a7a7a;
	min-height: 760px;
	padding: 10px;
	-moz-box-shadow: 0 0 7px #7a7a7a;
}

#content-main h2, #content-login h2 {
	color: #475175;
	border-bottom: 3px solid #475175;
	margin-top: 10pt;
}

#content-main h1 {
	color: #475175;
	margin: 0;
	font-weight: normal;
	font-size: 22pt;
	line-height: 1.2em;
	padding-bottom: 10px;
	padding-left: 3px;
}

.full-paragraph {
	clear: both;
}

.left-paragraph {
	width: 48%;
	float: left;
	padding-right: 2%;
}

.right-paragraph {
	width: 48%;
	float: right;
	padding-left: 2%;
}

/* Footer */
#content-footer {
	height: 50px;
	text-align: center;
}

#content-footer img {
	width: 150px;
	padding-top: 10px;
	padding-bottom: 15px;
}

#footer-right {
	float: right;
	text-align: right;
	width: 200px;
	padding: 20px 0 0 0;
}

#footer-right p {
	font-size: 0.7em;
	line-height: 0.4em;
	color: #919191;
}

/* Login page additional styles */
#page-login #content {
	width: 1224px;
}

#content-login {
	margin: 0 400px;
	background-color: #ffffff;
	box-shadow: 0 0 7px #7a7a7a;
	min-height: 300px;
	padding: 25px;
	-moz-box-shadow: 0 0 7px #7a7a7a;
}

#content-login form {
	padding: 25px 0;
}

.tdLogin {
	padding: 3px 6px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */
.hidden {
	display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *`contenteditable` attribute is included anywhere else in the document.
 *Otherwise it causes space to appear at the top and bottom of elements
 *that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *`:before` to contain the top-margins of child elements.
 */
.clearfix:before, .clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media
only
screen
and
(min-width:
35em)
{
/* Style adjustments for viewports that meet the condition */
}
@media
print
,
(
-webkit-min-device-pixel-ratio
:
1.25)
,
(
min-resolution
:
120dpi)
{
/* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media
print
{
*, *:before, *:after {
	background: transparent !important;
	color: #000 !important; /* Black prints faster:
   http://www.sanbeiji.com/archives/953 */
	box-shadow: none !important;
	text-shadow: none !important;
}

a, a:visited {
	text-decoration: underline;
}

a[href]:after {
	content: " (" attr(href) ")";
}

abbr[title]:after {
	content: " (" attr(title) ")";
}

/*
 * Don't show links that are fragment identifiers,
 * or use the `javascript:` pseudo protocol
 */
a[href^="#"]:after, a[href^="javascript:"]:after {
	content: "";
}

pre, blockquote {
	border: 1px solid #999;
	page-break-inside: avoid;
}

/*
 * Printing Tables:
 * http://css-discuss.incutio.com/wiki/Printing_Tables
 */
thead {
	display: table-header-group;
}

tr, img {
	page-break-inside: avoid;
}

img {
	max-width: 100% !important;
}

p, h2, h3 {
	orphans: 3;
	widows: 3;
}

h2, h3 {
	page-break-after: avoid;
}

#menu {
	display: none;
}

}
.error {
	color: red;
}

.selected {
	color: #132654;
}

.active {
	color: #35b61c;
}

.inactive {
	color: #c43534;
}

.blocked {
	color: #c43534;
}

.template {
	color: #6c6ccc;
}

.locked {
	color: #fa5c5c;
}
.ended {
	color: #aaaaaa;
}



H1 a:link {
	color: #000000;
	text-decoration: none;
}

H1 a:visited {
	color: #000000;
	text-decoration: none;
}

H1 a:hover {
	color: #000000;
	text-decoration: underline;
}

h2 {
	font-weight: normal;
	font-size: 20px;
	line-height: 1em;
	color: #000000;
	border-bottom: 2px solid #000000;
	margin-top: 5px;
	margin-bottom: 3px;
	padding-left: 3px;
	padding-bottom: 2px;
}

h3 {
	border-bottom: 1px solid #000000;
}

h2 a:link {
	text-decoration: none;
}

h2 a:visited {
	text-decoration: none;
}

h2 a:hover {
	color: #000000;
	font-weight: bold;
}

.tr_odd {
	background-color: #efefef;
}

.tr_even {
	
}

.bold {
	font-weight: bold;
}

.tr_odd_err {
	background-color: #ffafaf;
}

.tr_even_err {
	background-color: #ffcfcf;
}

.waitoverlay {
	position: fixed;
	left: 50%;
	top: 100px;
	height: 100px;
	margin-left: -90px;
	/*visibility: hidden;
height: 325px;
*/
	width: 200px;
	background-color: rgb(230, 230, 240);
	border: solid rgb(150, 150, 175) 2px;
	z-index: 1;
	filter: alpha(opacity=85);
	/* CSS3 standard */
	opacity: 0.85;
	text-align: center;
}

.calpopup {
	border: #000000 1px solid;
	position: absolute;
	left: 0px;
	top: 0px;
	visibility: hidden;
	/*	min-width: 180px;
	max-width: 180px;
	width=180px;

	min-height: 90px;
	max-height: 90px;
	height=90px;*/
	background-color: rgb(220, 220, 250);
}

.natpopup {
	border: #000000 1px solid;
	visibility: hidden;
	background-color: rgb(220, 220, 250);
}

.calpopuphead {
	text-align: right;
	background-color: rgb(120, 150, 250);
}

.calcontent{ width: 200px;}
.calcontent table { font-size: 12px; }


A.noul:link {
	text-decoration: none;
}

A.noul:visited {
	text-decoration: none;
}

A.noul:hover {
	text-decoration: underline;
}

A.noulum:link {
	text-decoration: none;
	color: #999966;
}

A.noulum:visited {
	text-decoration: none;
	color: #999966;
}

A.noulum:hover {
	text-decoration: none;
	color: #797946;
}

A.nodec {
	text-decoration: none;
}

A.nodec:link {
	text-decoration: none;
}

A.nodec:visited {
	text-decoration: none;
}

A.nodec:hover {
	text-decoration: none;
}

.popup {
	border: #000000 1px solid;
	position: absolute;
	left: 0px;
	top: 0px;
	visibility: hidden;
	/*	min-width: 180px;
	max-width: 180px;
	width=180px;

	min-height: 90px;
	max-height: 90px;
	height=90px;*/
	background-color: rgb(220, 220, 250);
}

.popuphead {
	text-align: right;
	background-color: rgb(120, 150, 250);
}

.tdHeader {
	font-weight: bold;
}

.tdHeaderVertical {
	font-weight: bold;
	vertical-align: top;
}

td, th {
	vertical-align: middle;
	padding: 2pt;
	word-break: break-word;
}

.stripe td {
	border-bottom: 1px solid #c3c3c3;
}

.dostripe {
	border-bottom: 1px solid #c3c3c3;
}

.nostripe {
	border-bottom: none !important;
}

.searchOptions br {
	margin-bottom: 10px;
}

.resultsGreen {
	background-color: #8cef8e;
	color: #3c673d;
}

.resultsYellow {
	background-color: #fcff9b;
	color: #5a5b37;
}

.resultsRed {
	background-color: #fb908c;
	color: #5f3635;
}

.msg {
	color: #1a45A3;
	font-weight: bold;
}
.warn {
	color: #ea7500;
	font-weight: bold;
}

.top {
	vertical-align: top;
}
.bottom {
	vertical-align: top;
}

.textAlignCenter {
	text-align: center;
}

.rightside {
	float: right;
	padding-right: 15px;
	padding-bottom: 0px;
	padding-top: 5px;
}

table.fixed {
	table-layout: fixed;
}

table.fixed td {
	overflow: hidden;
}

.roleLabel {
	cursor:pointer;
}